/***** UNIVERSAL STYLES *****/

html {
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	color: rgb(104,104,104);
}
body {

}
b {
	font-weight: bold;
}
a {
	text-decoration: none;
	color: rgb(70,70,70);
}


/***** HEADER *****/

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 1.5rem;
	height: 4rem;
}
header a {
	display: block;
}
.logo img {
	display: block;
}
.logo a {
	display: flex;
	justify-content: center;
	align-items: center;
}
header li {
	display: inline-block;
	margin-right: 1rem;
}
nav img {
	display: none;
}

@media only screen and (max-width: 900px) {
	header {
		padding: 0;
	}
	.logo {
		width: 25%;
	}
	nav {
		width: 75%;
	}
	nav img {
		display: block;
		height: 27px;
	}
	header p, header .desktop {
		display: none;
	}
	header ul {
		display: flex;
		justify-content: space-around;
	}
}


/***** BANNER *****/

.banner {
	display: flex;
	background-color: rgb(220,220,220);
}
.banner .image-container {
	width: 60%;
	padding: 2rem 0 2rem 1.5rem;
}
.banner img {
	width: 100%;
}
.banner .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 2.5rem;
}
h1 {
	font-size: 2.5rem;
	font-weight: bold;
	margin-top: 2rem;
}
h2 {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 2rem 0;
}
button {
	width: 24rem;
	max-width: 100%;
    font-size: 1rem;
    color: white;
    background-color: rgb(104,104,104);
    padding: 0.5rem;
    margin-bottom: 2rem;
    border: 0;
}

@media only screen and (max-width: 900px) {
	.banner {
		flex-direction: column;
	}
	.banner .image-container {
		width: 100%;
		overflow: hidden;
		height: 11.25rem;
		padding: 0;
	}
	.banner .content {
		padding: 0 1rem;
	}
	h2 {
		padding: 2rem 0 1.5rem 0;
	}
}


/***** INFORMATION *****/

.information-container, .information {
	display: flex;
}
.information-container .mobile {
	display: none;
}

@media only screen and (max-width: 900px) {
	.information-container .desktop {
		display: none;
	}
	.information {
		flex-direction: column;
	}
	.information .mobile {
		display: block;
	}
}


/***** COURSES *****/

.courses-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.desktop.courses {
	display: flex;
	flex-wrap: wrap;
}
.mobile.courses {
	display: none;
}

@media only screen and (max-width: 900px) {
	.desktop.courses {
		display: none;
	}
	.mobile.courses {
		display: block;
	}
}


/***** THESIS *****/

.thesis-container, .thesis-content, .thesis {
	display: flex;
}
.thesis-container {
	flex-direction: column;
	align-items: center;
}
video {
	width: 600px;
}

@media only screen and (max-width: 900px) {
	.video-caption, .exhibits {
		display: none;
	}
}


/***** FOOTER *****/

footer {
	display: flex;
	justify-content: space-between;
}

@media only screen and (max-width: 900px) {
	.legal {
		display: none;
	}
}