

/***** universal styles *****/

@import url('https://fonts.googleapis.com/css?family=Ek+Mukta:300,500,700,800');

html {
	font-family: 'Ek Mukta', Helvetica, sans-serif;
	font-size: 16px;
	color: rgb(90,90,90);
}
main {
	border: 1px solid  rgb(220,220,220);
}
a {
	display: inline-block;
	font-weight: 300;
	text-decoration: none;
	color: rgb(90,90,90);
}
a:hover, a:active {
	color: rgb(80,185,253);
}
h1 {
	font-size: 2.5rem;
	font-weight: 800;
	margin-bottom: 2rem;
}
h2 {
	font-size: 2rem;
	font-weight: 800;
	text-align: center;
	margin-bottom: 2rem;
}
h3 {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}
h4, p {
	font-weight: 300;
}
button {
    border: 0;
    cursor: pointer;
}
.img-container, .video-container {
	width: 100%;
	height: auto;
	min-height: 1px; /* workaround for IE11 bug */
}
img, video {
	width: 100%;
	height: auto;
}
.left {
	display: flex;
	flex-direction: column;
	width: 60%;
	padding: 2rem 1.5rem;
}
.right {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	width: 423px;
}

@media only screen and (max-width: 480px) {
	.left, .right {
		width: 100%;
		padding: 0;
	}
}


/***** header *****/

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 1.5rem;
	height: 4rem;
}
.logo {
	display: flex;
	justify-content: center;
}
.logo img {
	display: block;
	height: 40px;
}
.logo a {
	display: flex;
	align-items: center;
}
.logo a:hover, .logo a:active {
	color: rgb(90,90,90);
}
.logo p {
	font-size: 1.5rem;
	font-weight: 700;
}
.logo span {
	font-weight: 300;
	color: rgb(200,200,200);
}
header li {
	display: inline-block;
	margin-right: 1rem;
}
nav a {
	display: block;
}
nav img {
	display: none;
}

@media only screen and (max-width: 768px) {
	header {
		padding: 0;
	}
	.logo {
		width: 25%;
	}
	.logo img {
		height: 30px;
	}
	nav {
		width: 75%;
	}
	nav img {
		display: block;
		height: 27px;
	}
	header p, .companies {
		display: none;
	}
	header ul {
		display: flex;
		justify-content: space-around;
	}
}


/***** banner *****/

.banner {
	display: flex;
	align-items: center;
	background-color: rgb(240,240,240);
	border-bottom: 1px solid  rgb(220,220,220);
}
.banner .content {
	margin: 2rem 1rem;
}
.banner p {
	font-size: 1.5rem;
	font-weight: 500;
}
.banner button {
	width: 20rem;
    font-size: 1rem;
    color: white;
    background-color: rgb(90,90,90);
    padding: 0.5rem;
    margin-top: 1.5rem;
    transition: background-color 300ms;
}
.banner button:hover, .banner button:active {
	background-color: rgb(80,185,253)
}

@media only screen and (max-width: 768px) {
	.banner {
		flex-direction: column;
		padding: 0;
	}
	.banner .left {
		overflow: hidden;
		width: 100%;
		height: 11.25rem;
		padding: 0;
	}
	.banner button {
		padding: 1rem;
	}
}

@media only screen and (max-width: 480px) {
	.banner button {
		padding: 1rem;
		width: 100%;
	}
}


/***** information *****/

.information-container {
	display: flex;
	border-bottom: 1px solid rgb(220,220,220);
}
.information-container h2 {
	text-align: left;
	margin: 2rem 0 1.5rem 0;
}
.information-container .right {
	border-left: 1px solid rgb(240,240,240);
}
.citation {
	font-size: .9rem;
	padding-top: 2rem;
}
.information .mobile {
	display: none;
}
.information {
	display: flex;
	padding: 1rem;
	min-height: 1px; /* workaround for IE11 bug */
}
.information .img-container  {
	flex-basis: 35%;
	height: auto;
}
.information:first-child {
	padding-top: 0;
	margin-top: 2rem;
}
.information:last-child {
	background-color: rgb(240,240,240);
}
.information .description {
	flex-basis: 65%;
	padding: 1rem;
}
.information a {
	color: rgb(80,185,253);
	margin-top: 0.5rem;
}
.information a:hover, .information a:active {
	font-weight: 500;
}

@media only screen and (max-width: 768px) {
	.information-container .left {
		display: none;
	}
	.information-container .right {
		width: 100%;
		border: 0;
		flex-shrink: 1;
	}
	.information:first-child {
		margin-top: 1rem;
	}
}

@media only screen and (max-width: 480px) {
	.information .desktop {
		display: none;
	}
	.information .mobile {
		display: block;
	}
	.information-container .right {
		padding: 1rem;
	}
	.information {
		flex-direction: column;
		padding: 0;
	}
	.information:first-child {
		margin: 0;
	}
	.information:last-child {
		background-color: white;
	}
	.information .img-container {
		width: 100%;
		height: auto;
		flex-basis: auto;
	}
	.information .description {
		flex-basis: auto;
	}
}


/***** courses *****/

.courses-container {
    background-color: rgb(240,240,240);
	border-bottom: 1px solid  rgb(220,220,220);
	padding: 2rem 0;
}
.mobile.courses {
	display: none;
}
.desktop.courses {
	display: flex;
	flex-direction: column;
}
.desktop.courses .row {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}
.desktop.courses .row:last-child {
	margin-bottom: 0;
}
.course {
	background-color: white;
	width: 18rem;
	height: 18rem;
	margin: 0 1rem;
}
.course .description {
	padding: 1rem 1rem 1.5rem 1rem;
}
h4 {
	margin-bottom: 0.5rem;
}

@media only screen and (max-width: 768px) {
	.courses-container {
    	background-color: white;
    	padding: 2rem 0;
	}
	.courses-container h2 {
		margin: 0 0 1rem 0;
	}
	.desktop.courses {
		display: none;
	}
	.mobile.courses {
		display: flex;
		width: 100%;
		text-align: center;
	}
	.mobile.courses .row {
		width: 100%;
	}
	.mobile.courses button {
		font-size: 1.5rem;
		font-weight: 700;
		color: rgb(90,90,90);
		background-color: rgb(240,240,240);
		width: 97%;
		text-align: left;
		padding: 1rem;
		margin-bottom: 0.5rem;
		transition: color 100ms;
		transition: background-color 300ms;
	}
	.mobile.courses button:hover, .mobile.courses button:active {
		color: white;
		background-color: rgb(80,185,253);
	}
}

@media only screen and (max-width: 640px) {
	.mobile.courses {
		flex-direction: column;
	}
	.mobile.courses .row {
		width: 100%;
	}
}


/***** thesis exhibit *****/

.thesis-container {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid  rgb(220,220,220);
	padding: 2rem 0;
}
.thesis-content {
	display: flex;
	min-height: 1px; /* workaround for IE11 bug */
}
.thesis-container .left {
	padding: 0 1rem 0 1.5rem;
}
.video-container {
	width: 100%;
}
.video-caption {
	margin: 1.5rem 1rem 0 1.5rem;
}
.exhibit {
    display: flex;
    height: 8.5rem;
    padding: 1rem;
}
.exhibit:first-child {
    background-color: rgb(240,240,240);
}
.exhibit .img-container {
	width: 8.5rem;
	height: 8.5rem;
}
.exhibit img {
	width: 100%;
	height: 100%;
}
.exhibit .description {
	width: 239px;
	padding-left: 1rem;
}

@media only screen and (max-width: 768px) {
	.video-caption, .thesis-container .right {
		display: none;
	}
	.thesis-container {
		padding-bottom: 1.5rem;
	}
	.thesis-container .left {
		width: 100%;
		padding: 0;
	}
}


/***** footer *****/

footer {
	display: flex;
	justify-content: space-between;
	margin: 1rem 0 1rem 1.5rem;
}
footer a {
	display: inline-block;
	margin-right: 1rem;
}

@media only screen and (max-width: 480px) {
	footer p {
		font-size: 0.9rem;
	}
	.legal {
		display: none;
	}
}