/***** UNIVERSAL STYLES *****/

html {
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	color: rgb(104,104,104);
}
b {
	font-weight: bold;
}
a {
	text-decoration: none;
	color: rgb(70,70,70);
}
h1 {
	font-size: 2.5rem;
	font-weight: bold;
}
h2 {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	padding: 2rem 0 1.5rem 0;
}
h3 {
	font-size: 1.5rem;
	font-weight: bold;
	margin: 2rem 0 0.5rem 0;
}
main {
	border: 1px solid  rgb(220,220,220);
}
.left {
	display: flex;
	flex-direction: column;
	width: 60%;
	padding: 2rem 1.5rem;
}
.right {
	display: flex;
	flex-direction: column;
	width: 423px;
}


@media only screen and (max-width: 900px) {
	.left, .right {
		width: 100%;
		padding: 0;
	}
}


/***** HEADER *****/

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 1.5rem;
	height: 4rem;
}
.logo {
	display: flex;
	justify-content: center;
}
.logo img {
	display: block;
}
.logo a {
	display: flex;
	align-items: center;
}
header li {
	display: inline-block;
	margin-right: 1rem;
}
nav img {
	display: none;
}

@media only screen and (max-width: 900px) {
	header {
		padding: 0;
	}
	.logo {
		width: 25%;
	}
	nav {
		width: 75%;
	}
	nav img {
		display: block;
		height: 27px;

	}
	header p, header .desktop {
		display: none;
	}
	header ul {
		display: flex;
		justify-content: space-around;
	}
}


/***** BANNER *****/

.banner {
	display: flex;
}
.banner .left {
	background-color: rgb(220,220,220);
}
.banner img {
	width: 100%;
}
.banner .right {
	justify-content: center;
	background-color: rgb(220,220,220);
}
.banner .content {
	margin: 2rem 1rem;
}
button {
	width: 20rem;
	max-width: 100%;
    font-size: 1rem;
    color: white;
    background-color: rgb(104,104,104);
    padding: 0.5rem;
    margin-top: 1.5rem;
    border: 0;
}

@media only screen and (max-width: 900px) {
	.banner {
		flex-direction: column;
		padding: 0;
	}
	.banner .left {
		overflow: hidden;
		height: 11.25rem;
	}
}


/***** INFORMATION *****/

.information-container {
	display: flex;
}
.information-container h2 {
	text-align: left;
}
.information-container .right {
	border-left: 1px solid rgb(220,220,220);
}
.information-container img {
	width: 100%;
}
.citation {
	padding-top: 2rem;
}
.information {
	display: flex;
	padding: 1rem 0 1rem 1rem;
}
.information .mobile {
	display: none;
}
.information img  {
	width: 35%;
	height: 100%;
}
.information:first-child {
	padding-top: 0;
	margin-top: 2rem;
}
.information:last-child {
	background-color: rgb(220,220,220);
}
.info-description {
	padding-left: 1rem;
}
.information a {
	font-weight: bold;
	color: blue;
	margin: 1rem 0;
}


@media only screen and (max-width: 900px) {
	.information-container .left, .information .desktop {
		display: none;
	}
	.information .mobile {
		display: block;
	}
	.information-container .right {
		padding: 1rem;
		border: 0;
	}
	.information {
		flex-direction: column;
		padding: 0;
	}
	.information:first-child {
		margin: 0;
	}
	.information:last-child {
	background-color: white;
	}
	.information img {
		width: 100%;
	}
}

/***** COURSES *****/

.desktop.courses {
	display: flex;
	flex-wrap: wrap;
}
.mobile.courses {
	display: none;
}

@media only screen and (max-width: 900px) {
	.desktop.courses {
		display: none;
	}
	.mobile.courses {
		display: block;
	}
}


/***** THESIS *****/

.thesis-container {
	display: flex;
}
.thesis-container .left {
	padding-right: 0;
}
.video-container {
	margin-bottom: 1.5rem;
}
video {
	width: 100%;
}
.thesis-container .right {
	margin-top: 2rem;
	margin-left: 1rem;
}
.exhibit {
    display: flex;
    height: 8.5rem;
    padding: 1rem;
}
.exhibit:first-child {
    background-color: rgb(220,220,220);
}
.exhibit img {
	height: 100%;
}
.exhibit-description {
	padding-left: 1rem;
}

@media only screen and (max-width: 900px) {
	.video-caption, .thesis-container .right {
		display: none;
	}
}


/***** FOOTER *****/

footer {
	display: flex;
	justify-content: space-between;
	margin: 1rem 0 1rem 1.5rem;
}
footer a {
	margin-right: 1rem;
}

@media only screen and (max-width: 900px) {
	.legal {
		display: none;
	}
}